<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced.  * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->


<main>
  <div class="header">
    <div>
      <img class="logo" [attr.src]="image_server+'Logo_world.png'"/>
      <span id="worldname"> {{world.name}} </span>
    </div>
    <div> <span id="worldname"> {{world.money}} </span> </div>
    <div> multiplicateur </div>
    <div> <span id="worldname"> {{user}} </span> </div>
  </div>

  <div>
    <div class="main"></div>
    <div>
      <app-product *ngIf="world?.products?.length > 0" [prod]="world?.products[0]" class="product"></app-product>
    </div>
  </div>
</main>


<router-outlet />
